In [1]:
import pandas as pd

# Read data
df = pd.read_csv("data.csv", sep=";",encoding='ISO-8859-1', doublequote=False, skipinitialspace=True)

# Display the first few rows of the DataFrame
df.head()

,Group,Sex,Age,Patients number per hour,Arrival mode,Injury,Chief_complain,Mental,Pain,NRS_pain,...,BT,Saturation,KTAS_RN,Diagnosis in ED,Disposition,KTAS_expert,Error_group,Length of stay_min,KTAS duration_min,mistriage
0,2,2,71,3,3,2,right ocular pain,1,1,2,...,36.6,100,2,Corneal abrasion,1,4,2,86,"5,00",1
1,1,1,56,12,3,2,right forearm burn,1,1,2,...,36.5,NaN,4,"Burn of hand, firts degree dorsum",1,5,4,64,"3,95",1
2,2,1,68,8,2,2,"arm pain, Lt",1,1,2,...,36.6,98,4,"Fracture of surgical neck of humerus, closed",2,5,4,862,"1,00",1
3,1,2,71,8,1,1,ascites tapping,1,1,3,...,36.5,NaN,4,Alcoholic liver cirrhosis with ascites,1,5,6,108,"9,83",1
4,1,2,58,4,3,1,"distension, abd",1,1,3,...,36.5,NaN,4,Ascites,1,5,8,109,"6,60",1

# Data Exploration

In [2]:
df.shape

(1267, 24)

In [3]:
df.columns

Index(['Group', 'Sex', 'Age', 'Patients number per hour', 'Arrival mode',
       'Injury', 'Chief_complain', 'Mental', 'Pain', 'NRS_pain', 'SBP', 'DBP',
       'HR', 'RR', 'BT', 'Saturation', 'KTAS_RN', 'Diagnosis in ED',
       'Disposition', 'KTAS_expert', 'Error_group', 'Length of stay_min',
       'KTAS duration_min', 'mistriage'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1267 entries, 0 to 1266
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Group                     1267 non-null   int64
 1   Sex                       1267 non-null   int64
 2   Age                       1267 non-null   int64
 3   Patients number per hour  1267 non-null   int64
 4   Arrival mode              1267 non-null   int64
 5   Injury                    1267 non-null   int64
 6   Chief_complain            1267 non-null   object
 7   Mental                    1267 non-null   int64
 8   Pain                      1267 non-null   int64
 9   NRS_pain                  1267 non-null   object
 10  SBP                       1267 non-null   object
 11  DBP                       1267 non-null   object
 12  HR                        1267 non-null   object
 13  RR                        1267 non-null   object
 14  BT                        1267 non-null   object
 15  Saturation                579 non-null    object
 16  KTAS_RN                   1267 non-null   int64
 17  Diagnosis in ED           1265 non-null   object
 18  Disposition               1267 non-null   int64
 19  KTAS_expert               1267 non-null   int64
 20  Error_group               1267 non-null   int64
 21  Length of stay_min        1267 non-null   int64
 22  KTAS duration_min         1267 non-null   object
 23  mistriage                 1267 non-null   int64
dtypes: int64(14), object(10)
memory usage: 237.7+ KB

In [6]:
df.isnull().values.any()

True

In [7]:
df_cleaned = df.dropna()

In [9]:
df_cleaned.shape

(577, 24)

In [11]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 577 entries, 0 to 1266
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Group                     577 non-null    int64
 1   Sex                       577 non-null    int64
 2   Age                       577 non-null    int64
 3   Patients number per hour  577 non-null    int64
 4   Arrival mode              577 non-null    int64
 5   Injury                    577 non-null    int64
 6   Chief_complain            577 non-null    object
 7   Mental                    577 non-null    int64
 8   Pain                      577 non-null    int64
 9   NRS_pain                  577 non-null    object
 10  SBP                       577 non-null    object
 11  DBP                       577 non-null    object
 12  HR                        577 non-null    object
 13  RR                        577 non-null    object
 14  BT                        577 non-null    object
 15  Saturation                577 non-null    object
 16  KTAS_RN                   577 non-null    int64
 17  Diagnosis in ED           577 non-null    object
 18  Disposition               577 non-null    int64
 19  KTAS_expert               577 non-null    int64
 20  Error_group               577 non-null    int64
 21  Length of stay_min        577 non-null    int64
 22  KTAS duration_min         577 non-null    object
 23  mistriage                 577 non-null    int64
dtypes: int64(14), object(10)
memory usage: 112.7+ KB